{
  "extends": [
    "kentcdodds/best-practices",
    "kentcdodds/possible-errors",
    "kentcdodds/es6/best-practices",
    "kentcdodds/es6/possible-errors",
    "kentcdodds/import/best-practices",
    "kentcdodds/import/possible-errors",
    "kentcdodds/jest",
    "kentcdodds/webpack",
    # react rules are intentionally disabled
    # so we can omit propTypes to start (for example)
    # we'll enable specific rules as needed instead
    # "kentcdodds/react",
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "import/no-unassigned-import": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "class-methods-use-this": 0,
    "no-invalid-this": 0,
    "babel/no-invalid-this": 2,
    "no-unused-vars": 0,
  }
}